.landingPage {
  padding: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1{ 
  font-size: 90px;
} 

.description {
  max-width: 400px;
  text-align: right;
}

.description p {
  font-size: 18px;
}

.images {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  gap: 20px;
}

.images img {
  width: 22%;
  border-radius: 8px;
}